.vcontent{
  animation vcontent .5s
  position absolute
  will-change: top
}
@keyframes vcontent
{
from {
 left: 100%;
 }
to {
  left: 0;
 }
}

@-webkit-keyframes vcontent
{
from {
 left: 100%;
 }
to {
  left: 0;
 }
}
@keyframes listKe
{
from {
 opacity:0;
 }
to {
 opacity:1;
 }
}

@-webkit-keyframes listKe
{
from {
 opacity:0;
 }
to {
 opacity:1;
 }
}
.fade-enter-active {
  animation: fadeAni 0.3s linear
}
.fade-leave-active {
  animation: fadeAni-l 0.3s linear
}
@keyframes fadeAni {
  0%{
    // opacity 0
    transform: translateX(100%)
    }
  100%{
    opacity 1
    }
  }

@keyframes fadeAni-l {
  0%{
    left 0
    }
  100%{
    transform: translateX(-100%)
    }
}