// $baseColor = #673AB7; // 主题色一
// $themeColor = #512DA8; // 主题色二
$baseColor = #1890ff; // 主题色二

themeColor = #1890ff
hoverColor = #40a9ff
$blackFont = #212121;// 黑色字体
$borderColor = #212121;// 边框颜色
$backgroundColorO = #FFFFFF;// 背景色一
$backgroundColorT = #FFFFFF;// 背景色二
$backgroundColorR = #FFFFFF;// 背景色三
$buttonColor = #009688;// 
$titleFontSize = .26rem;
$descFontSize = .24rem;
successColor = rgb(82, 196, 26)  //成功颜色
errorColor = rgb(229, 64, 79) //错误颜色
warningColor = rgb(255, 142, 20) // 警告色
$leftBar = #673AB7  // 左侧导航栏颜色
$barWidth = 60px  // 左侧导航栏宽度